.nav-links {
  width: 100%;
  height: 100%;
  @include flex(space-evenly, center);

  & .nav-link {
    color: $text-color;
    font-size: 32px;
    background-color: $secondary-bg;
    padding: 1rem;
    width: 64px;
    height: 64px;
    border-radius: 100rem;
    @include flex(center, center);
    transition: color 250ms ease-in-out;
    &:hover {
      color: white;
    }
  }
}
