.btn {
  background-color: $primary-color;
  outline: none;
  border: none;
  padding: $btn-padding;
  font-weight: $btn-fw;
  font-size: $btn-font-size;
  border-radius: $btn-br;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $btn-bs;
  transition: width 250ms ease-in-out;
  cursor: pointer;
  transition: filter 250ms ease-in-out;

  &:hover {
    filter: brightness(120%);
  }

  &__login {
    display: block;
    width: 50%;
    margin: auto;
    color: white;
    transition: 250ms ease-in-out width;
    &:hover {
      width: 80%;
    }
  }

  &__success {
    color: white;
    background-color: $success;
  }
  &__danger {
    color: white;
    background-color: $danger;
  }
  &__action {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
  }
  &__warning {
    background-color: $warning-dark;
  }
}
