<div class="footer-wrapper">
    <footer class="footer">
        <div class="nav-links">
            <a class="nav-link" [routerLink]="'/home'"
                ><fa-icon [icon]="faUser"></fa-icon
            ></a>
            <a class="nav-link" [routerLink]="'/chat'"
                ><fa-icon [icon]="faCommentAlt"></fa-icon
            ></a>
            <a class="nav-link" href="" [routerLink]="'/settings'"
                ><fa-icon [icon]="faGear"></fa-icon
            ></a>
        </div>
    </footer>
</div>
