<ng-container *ngIf="user">
  <div class="user-profile animate__animated animate__fadeInUp">
    <div class="user-profile__image">
      <img src="{{ user.image_url }}" alt="user picture" />
      <div class="user-profile__show-bio" (click)="showBio()">
        <button class="btn btn__action btn__warning">
          <fa-icon [icon]="faEye"></fa-icon>
        </button>
      </div>
    </div>
    <div class="user-profile__container">
      <div class="user-profile__data">
        <span class="user-profile__username">@{{ user.username }}</span>
        <div class="user-profile__misc-wrapper">
          <span class="user-profile__location"
            ><fa-icon [icon]="faLocationArrow"></fa-icon> 300m from you</span
          >
          <span class="user-profile__interests">Similar interests</span>
          <span class="user-profile__faculty">Same faculty</span>
        </div>
      </div>

      <div class="user-profile__actions">
        <button class="btn btn__action btn__danger" (click)="skip()">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
        <button class="btn btn__action btn__success" (click)="match()">
          <fa-icon [icon]="faHandshake"></fa-icon>
        </button>
      </div>
    </div>
    <div class="user-profile__bio" #bio>
      <div class="user-profile__bio__title" #bioTitle>
        <span>{{ user.bio.title }}</span>
        <button class="btn btn__warning" (click)="hideBio()">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>

      <div class="user-profile__bio__text">
        <span>
          {{ user.bio.description }}
        </span>
      </div>
    </div>
  </div>
</ng-container>
